<div style="width: 100%;min-width: 1316px;text-align: center;line-height: normal; white-space:normal; background: rgba(255,255,255,1);" align="center">
    <!-----------响应式布局----------->
    <div style="position: relative">
        <!-- 图片 -->
        <div id="2" name="Image_2" style="position: fixed;top: 3px; z-index:2; left: 0;right: 0;bottom: 0; background: url(http://pic36.photophoto.cn/20150717/0017030261996739_b.jpg) no-repeat center center; background-size: cover; "></div>
        <!--<div id="2" name="Image_2" style="position: fixed;top: 3px; z-index:2; left: 0;right: 0;bottom: 0; background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1541594471363&di=119f3e225af897023bb756f2794834ab&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0171fb57ba55650000018c1b79f1da.jpg%401280w_1l_2o_100sh.png) no-repeat center center; background-size: cover; "></div>-->
    </div>


    <!-----------非响应式布局----------->
    <div align="center" style="position: relative; display: inline-block;width:1316px;height:100%;">

        <!--西检公益管理后台-->
        <div style="z-index: 100;position: absolute; left: 60px; top: 20px;">
            <img src="assets/img/report/checker_logo.png" style="width: 30px; height: 30px">
            <span style="color: white;  font-size: 16px; margin-left: 10px">西检公益诉讼</span>
        </div>

        <div style="position: absolute;z-index: 100;left: 773px; top: 200px;width: 0; height: 0; border-bottom: 17px solid transparent; border-right: medium none; border-top: 17px solid transparent; border-left: 20px solid #d85a54"></div>

        <!-- 图片 -->
        <!--<div id="13" name="Image_13" style="margin-left: 5px;position: absolute;top: 502px; height: 20px; z-index:13; left: 986px; width: 20px; background:rgba(255,255,255,0)  url(assets/img/login/company_wechat.png) no-repeat ; background-size: 101%; "></div>-->
        <!-- 文本 -->
        <span id="10" name="Text_10" style="text-align: left;position: absolute;top: 160px; height: 46px; z-index:10; left: 850px; width: 219px; padding: 10px 0px 0px 30px; font-size: 22px; font-weight: bold; color: rgba(255,255,255,1); border-radius: 25px 0px 25px 0px; background: #943b36; ">Adminastrator</span>
        <!-- 文本 -->
        <span id="11" name="Text_11" style="position: absolute;top: 363px; height: 21px; z-index:11; left: 817px; width: 78px; font-size: 12px; color: rgba(71,49,77,1.0); text-decoration: underline; background:rgba(255,255,255,0); ">管理员登录</span>
        <!-- 文本 -->
        <span id="14" name="Text_14" style="position: absolute;top: 501px; height: 21px; z-index:14; left: 925px; width: 74px; font-size: 12px; color: rgba(71,49,77,1.0); background:rgba(255,255,255,0); ">公益诉讼管理</span>
        <!-- 文本 -->
        <span id="25" name="Text_25" style="position: absolute;top: 186px; height: 57px; z-index:25; left: 115px; width: 296px; font-size: 33px; color: rgba(255,255,255,1.0); background:rgba(255,255,255,0); ">崇法厚德&nbsp; 执法为民</span>
        <!-- 文本 -->
        <span id="29" name="Text_29" style="position: absolute;top: 249px; height: 38px; z-index:29; left: 150px; width: 355px; font-size: 20px; color: rgba(255,255,255,1.0); background:rgba(255,255,255,0); ">—— 强化法律监督，维护公平正义</span>
        <!-- 背景 -->
        <div id="3" name="Bg_3" style="position: absolute;top: 75px;bottom: 0; z-index:3; left: 1px; width: 1314px; border-radius: 30px 30px 0px 0px; background:rgba(186,209,230,0.57); "></div>
        <!-- 背景 -->
        <div id="4" name="Bg_4" style="position: absolute;top: 176px; height: 376px; z-index:4; left: 778px; width: 367px; background:rgba(255,255,255,0.77); "></div>
        <!-- 背景 -->
        <div id="16" name="Bg_16" style="position: absolute;top: 489px; height: 41px; z-index:11; left: 885px; width: 152px; border-radius: 20px 20px 20px 20px; background:rgba(255,255,255,1); "></div>
        <!-- 按钮 -->
        <button ng-click="login.managerLogin()" id="7" name="Btn_7" style="position: absolute;top: 405px; height: 43px; z-index:7; left: 822px; width: 275px; padding: 6px 12px 6px 12px; border-width: 1px 1px 1px 1px; border-style: solid; border-color: #d85a54; border-radius: 5px 5px 5px 5px; background: #d85a54; font-size: 16px; color: rgba(255,255,255,1.0); text-align: center; ">登
            录</button>
        <!-- 文本框 -->
        <input ng-model="login.loginInfo['password']" type="password" class="form-control" placeholder="请输入密码" id="6" name="Input_6" style="position: absolute;top: 312px; height: 42px; z-index:6; left: 821px; width: 273px; padding: 6px 12px 6px 12px; background:rgba(255,255,255,1); color: rgba(0,0,0,1.0); border-width: 1px 1px 1px 1px; border-style: solid; border-color: #ccb7b6; border-radius: 5px 5px 5px 5px; ">
        <!-- 文本框 -->
        <input ng-model="login.loginInfo['account']" type="text" class="form-control" placeholder="请输入账号" id="8" name="Input_8" style="position: absolute;top: 256px; height: 42px; z-index:8; left: 820px; width: 274px; padding: 6px 12px 6px 12px; background:rgba(255,255,255,1); color: rgba(0,0,0,1.0); border-width: 1px 1px 1px 1px; border-style: solid; border-color: #ccb7b6; border-radius: 5px 5px 5px 5px; ">
    </div>
</div>