<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MyCtrl as ctrl">
<head>
    <link rel="stylesheet" href="/assets/css/font-awesome/font-awesome.min.css" >
    <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>12390平台</title>
</head>
<body>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;font-size: 16px; justify-content: center; align-items: center">
        <div ng-repeat="(key, value) in ctrl.data" ng-click="ctrl.jumpToTargetUrl(value['url']);" style="background: white;margin: 15px;;padding: 15px;;border: 1px solid lightgrey; display: flex; justify-content: center;flex-direction: column; align-items: center;width: 100px">
            <div style="background: url({{value['icon']}})no-repeat center center;background-size: contain; width: 70px; height: 50px"></div>
            <div style="margin-top: 15px; font-size: {{value['fontSize']}}">{{value['name']}}</div>
        </div>
    </div>

    <script>
        var app = angular.module('myApp', []);
        /*控制器*/
        app.controller('MyCtrl', function ($scope, $http, $window, $location) {
            //数据初始化操作
            var ctrl = this;
            ctrl.data = [
                {'name':'控告','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=2','icon':'/assets/img/wechat/icon01.png'},
                {'name':'刑事申诉','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=3','icon':'/assets/img/wechat/icon02.png'},
                {'name':'民行申诉','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=6','icon':'/assets/img/wechat/icon03.png'},
                {'name':'国家赔偿','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=5','icon':'/assets/img/wechat/icon04.png'},
                {'name':'其他信访','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=7','icon':'/assets/img/wechat/icon05.png'},
                {'name':'法律咨询','fontSize':'16px','url':'http://106.37.75.13:8000/XFOnlineR2/xfonline/jsp/wsxf/pukswsxfwmfwzx.jsp?contenttag=11','icon':'/assets/img/wechat/icon06.png'},
                {'name':'举报中心','fontSize':'16px','url':'https://jubao.12309.gov.cn/','icon':'/assets/img/wechat/icon07.png'},
                {'name':'检察法律法规库','fontSize':'14px','url':'http://www.spp.gov.cn/spp/flfgk/index.shtml','icon':'/assets/img/wechat/icon08.png'},
            ];

            /**
             * 跳转到指定网址
             */
            ctrl.jumpToTargetUrl = function (url) {
                location.href= url;
            }
        });
    </script>
</body>
</html>